<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"   
	          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
	          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  

  <localRepository>F:\maven\repository\.m2\repository</localRepository>
	  
	  <pluginGroups></pluginGroups>  
	  <proxies></proxies>  
	  
	  <servers>  
	      <server>  
	      <id>nexus-releases</id>  
	      <username>admin</username>  
	      <password>admin123</password>  
	    </server>  
	    <server>  
	      <id>nexus-snapshots</id>  
	      <username>admin</username>  
	      <password>admin123</password>  
	    </server>  
	  </servers>  
	  
	  <mirrors>  
	  
	    <mirror>   
	      <id>nexus-releases</id>   
	      <mirrorOf>*</mirrorOf>   
	      <url>http://192.168.1.210:8098/nexus/content/groups/public</url>   
	    </mirror>  
	    <mirror>   
	      <id>nexus-snapshots</id>   
	      <mirrorOf>*</mirrorOf>   
	      <url>http://192.168.1.210:8098/nexus/content/groups/public-snapshots</url>   
	    </mirror> 
	
		 <mirror>  
			<id>nexus-aliyun</id>  
			<mirrorOf>central</mirrorOf>    
			<name>Nexus aliyun</name>  
			<url>http://maven.aliyun.com/nexus/content/groups/public</url>  
		</mirror> 
		
		
		 <mirror>  
			<id>mvnrepository</id>  
			<mirrorOf>central</mirrorOf>    
			<name>Nexus mvnrepository</name>  
			<url>http://mvnrepository.com/repos/central</url>  
		</mirror> 
		
		
		
		<mirror>
			<id>centralmvn</id>
			<mirrorOf>central</mirrorOf>
			<name>Maven Repository Switchboard</name>
			<url>https://repo1.maven.org/maven2/</url>
		</mirror>
		
		
	  </mirrors>   
	   
	  <profiles>  
	   <profile>  
	      <id>nexus</id>  
	      <repositories>  
	        <repository>  
	          <id>nexus-releases</id>  
	          <url>http://nexus-releases</url>  
	          <releases><enabled>true</enabled></releases>  
	          <snapshots><enabled>true</enabled></snapshots>  
	        </repository>  
	        <repository>  
	          <id>nexus-snapshots</id>  
	          <url>http://nexus-snapshots</url>  
	          <releases><enabled>true</enabled></releases>  
	          <snapshots><enabled>true</enabled></snapshots>  
	        </repository> 
		<repository>
			<id>central</id>
			<name>Central Repository</name>
			<url>http://repo.maven.apache.org/maven2</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>spy</id>
			<name>Spy Repository</name>
			<url>http://files.couchbase.com/maven2/</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>xerces</id>
			<name>xerces</name>
			<url>https://xerces.apache.org/xerces2-j/</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>proxool</id>
			<name>proxool</name>
			<url>http://proxool.cvs.sourceforge.net/viewvc/proxool/</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		

		<repository>
			<id>osc</id>
			<name>oschina</name>
			<url>http://maven.oschina.net/content/groups/public/</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository> 
	      </repositories>  
	      <pluginRepositories>  
	         <pluginRepository>  
	                <id>nexus-releases</id>  
	                 <url>http://nexus-releases</url>  
	                 <releases><enabled>true</enabled></releases>  
	                 <snapshots><enabled>true</enabled></snapshots>  
	               </pluginRepository>  
	               <pluginRepository>  
	                 <id>nexus-snapshots</id>  
	                  <url>http://nexus-snapshots</url>  
	                <releases><enabled>true</enabled></releases>  
	                 <snapshots><enabled>true</enabled></snapshots>  
	             </pluginRepository>  
	         </pluginRepositories>  
	    </profile>  
		
		
		<profile>  
         <id>jdk-1.8</id>  
         <activation>  
             <activeByDefault>true</activeByDefault>  
             <jdk>1.8</jdk>  
          </activation>  
          <properties>  
              <maven.compiler.source>1.8</maven.compiler.source>  
              <maven.compiler.target>1.8</maven.compiler.target>  
              <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>  
          </properties>  
   </profile>  
	  </profiles>  
	  
	  <activeProfiles>  
	      <activeProfile>nexus</activeProfile>  
	  </activeProfiles>  
	   
	</settings>  
